:root {
    --bg-color:#181825;
    --pg-color:#1e1e2e;
    --accent:#6c7086;
    --accent2: #26263c;
    --txt-color: #a6adc8;
    --color: rgb(30, 30, 46);
    --dark: #13131c;
}
* {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.7;
    color: var(--txt-color);
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--accent);
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
body{
    background-color: var(--bg-color);
    overflow-y: scroll;
}
.page{
    width: 80%;
    margin: 30px 20%;
    overflow: auto;
}

.card{
    border: 1px solid var(--accent);
    box-shadow: 8px 8px #24243aa4;
    position: relative;
}

.head{
    background-color: #26263c;
    border: 1px solid var(--accent);
    border: 1px solid #4c536e;
    padding: 10px 20px;
}

.head p{
    margin: 0px;
}

.card_body{
    background-color: #1e1e2ee6;
    padding: 0px 20px;
    border: 1px solid var(--accent);
    border: 1px solid #4c536e;
    overflow-y: scroll;
}

.side {
    position: fixed;
    margin-left: 30px;
    width: 15%;
}
nav {
    padding: 5px;
    background: var(--pg-color);
    border: 2px solid #4c536e;
    box-shadow: 8px 8px #24243aa4;
}

nav a{
    border: 2px solid #4c536e;
    display: block;
    margin: 10px;
    background: var(--accent2);
    padding: 8px 16px;
    text-decoration: none;
}

nav a:hover {
  background-color: #30304b;
}